*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Main */
.main-table {
    border-collapse: collapse;
    margin: 0 auto;

}

/* Table Header */
.table-header-row {
    background-color: #18181C;
    color: #F1F0F7;
    border-radius: 6px 6px 0 0;
    font-size: 18px;
}

.th-item {
    padding: 10px 10px;
}

.th-item-neon {
    padding: 3px;
}

.table-header-row, .table-task-row {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Table Row */
.table-task-row {
    text-align: center;
    background-color: #26252C;
    color: #ADACB4;
    border-bottom: 1px solid #18181C;
}

.accent {
    background-color: #2D2E37;
    color: #F1F0F7;
}

.td-item-neon {
    background-color:#2D2E37;
    transition: 0.5s;
}

.table-task-row:hover > .td-item-neon {
    background-color: orange;
}

.td-item {
    padding: 20px 10px;
}

.td-item::first-letter {
    text-transform: uppercase;
}

.cell-width {
    width: 200px;
    word-break: break-word;  
}

.btn-style {
    width: 45px;
    padding: 5px 0;
    border: none;
    margin: 0 2px;
    background-color: rgb(104, 104, 104);
    transition: 0.3s;
}

.btn-style:hover, .add-task-btn:hover {
    background-color: rgb(14, 160, 160);
}

/* Create task */

.todo-form-wrap {
    width: 620px;
    background-color: #26252C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #ADACB4;
    text-align: center;
}

.todo-form {
    display: flex;
}

.name-task-group, .textarea-wrap, .date-create-group {
    display: flex;
    flex-direction: column;
    margin: 0 15px 14px 15px;
    justify-content: space-between;
    width: 150px;
}

.textarea-wrap {
    width: 200px;
}

.textarea-wrap > textarea {
    resize: none;
}

.add-task-btn {
    padding: 5px 0;
    margin-top: 10px;
    border: none;
    background-color: rgb(104, 104, 104);
    transition: 0.3s;
}

.add-task-btn:active {
    background-color: rgb(11, 109, 109)
}